# OCR Common Error Unigram Table Script
#### Eviction Study - Automated Optical Character Recognition Correction Algorithm Research

Author: Scarlett Heeyeon Hwang

January 20th, 2020

In [58]:
# Import libraries
import numpy as np
import pandas as pd
import itertools as it
import string
import prettytable as pt

In [77]:
# Generate base table
# 1. Splice all possible ascii characters
all_ascii = string.printable
ascii_arr = list(all_ascii)
all_ascii[1] #test

'1'

In [212]:
# 2. Generate table 
t = pd.DataFrame(0, ascii_arr, ascii_arr)
t.head()
t["0"]["0"] += 1
t.head()

   0  1  2  3  4  5  6  7  8  9  ...  {  |  }  ~     \t  \n  \r


0  1  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0   0   0   0  0  0
1  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0   0   0   0  0  0
2  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0   0   0   0  0  0
3  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0   0   0   0  0  0
4  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0   0   0   0  0  0

[5 rows x 100 columns]

In [240]:
# Main function for reading in data from original and converted text files
def main(orig, conv):
    conv = open(conv, "r").read()
    orig = open(orig, "r").read()
        
#     if len(orig_arr) == len(conv_arr):
#         for i in orig_arr:
#             if orig_arr[i] == conv_arr[i]:
#                 t[orig_arr[i]][conv_arr[i]] += 1
#     else:
#         print(len(orig_arr), len(conv_arr))
    for i in range(len(orig)):
        try:
            t[orig[i]][conv[i]] += 1
        except:
            pass

In [244]:
# Run test
main("moby_dick.txt", "moby_dick-converted.txt")
a = t["e"]
a[a != 0]

d       6
e    2184
h      12
i      12
r      18
H       6
Name: e, dtype: int64

In [222]:
# # Garbage
# def unigram(iterable):
#     a, b = tee(iterable)
#     next(b, None)
#     return izip(a, b)

# with open("data.txt", 'r') as f:
#     for line in f:
#         words = line.strip().split()
#         uni = words
#         bi = bigrams(words)
#         print(uni)
#         print(list(bi))

In [234]:
t.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd',
       'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r',
       's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F',
       'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
       'U', 'V', 'W', 'X', 'Y', 'Z', '!', '"', '#', '$', '%', '&', ''', '(',
       ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@',
       '[', '\', ']', '^', '_', '`', '{', '|', '}', '~', ' ', '\t', '\n', '\r',
       '
', '
'],
      dtype='object')